{% load is_friend %}

{% if users %}
    <div class="friends__global">
        <p class="friends__global-title">
            Другие пользователи
        </p>
        {% for user_search in users %}
            <div class="friend__item">
                <div class="friend__item-content">
                    <div class="friend__image-container">
                        <img src="{{ user_search.image.url }}" alt="" class="friend__image">
                    </div>
                    <div class="friend__info">
                        <a href="#" class="friend__link-user">
                            {{ user_search.get_full_name }}
                        </a>
                        <a href="{% url 'create_user_chat' user_search.pk %}"
                           class="friend__link-user friend__send-message">
                            Написать сообщение
                        </a>
                    </div>
                    {% is_friend user user_search %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}